@media (max-width: 500px) {
  .carousel-inner {
    height: 212px !important;
  }
  .active {
    border-left: 0 !important;
  }
}
/* FOR OTHER SCREENS */
.nav-link {
  color: rgba(255, 255, 255, 0.5) !important;
}
.nav-link:hover {
  color: #fff !important;
}
.active {
  border-left: #444 3px solid;
  color: #fff !important;
}
.about-head {
  background: url("../img/image1.jpg");
  height: 200px;
  background-position: 0px -360px;
  color: #fff;
  background-attachment: fixed;
  padding-top: 50px;
}
.r-circle {
  margin-top: -50px;
}
.card-body {
  border-radius: 0.25rem;
}
.carousel-inner {
  height: 170px;
  padding: 5px;
}
.carousel-caption {
  top: 1px;
}
.carousel-control-prev,
.carousel-control-next {
  top: 25%;
}
.footer {
  background-color: black;
}
.carousel-inner h3 {
  font-size: 2rem;
}
.carousel-inner p {
  font-size: 1.25rem;
  margin-bottom: 0;
}
.highlight {
  color: #6c757d;
}
/* FOR MOBILE */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
